
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Author" content="Jan Burdzicki">

	<link rel="icon" type="image/svg+xml" href="/static/img/favicon/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>

	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

	<title>Badges</title>
</head>

<body>
	<div class="container">
		<div class="container__item landing-page-container">
			<div class="content-wrapper">
				<div class="wrapper">
					<nav class="navigation">
						<span id="brand">
							<a href="index.html">
								<img src="/static/img/logo/LogoNoBackground.png" width="100vmin" alt="">
							</a>
						</span>
					</nav>
					<div class="badge-group">
						<h2>Acquired</h2>
						<ul>
							<li class="oval-badge">
                                <img src="/static/img/badges/bush_badge.png" height="80" width ="80" alt="" class="left-aligned">
                                Tree badge
                            </li>
                            <li class="oval-badge">
                                <img src="/static/img/badges/water_badge.png" height="80" width ="80" alt="" class="left-aligned">
                                Water badge
                            </li>
						</ul>
					</div>
					<div class="badge-group">
						<h2>Still to explore</h2>
						<ul>
							<li class="oval-badge">Segment 3</li>
							<li class="oval-badge">Segment 4</li>
							<li class="oval-badge">Segment 5</li>
						</ul>
					</div>
					<footer class="footer">
						<h1 class="footing footer__item">
							Collabathon 2023
						</h1>
						<h1 class="footing footer__item">
							✨🌟💖💎🦄💎💖🌟✨🌟💖💎🦄💎💖🌟✨
						</h1>
					</footer>
				</div>
			</div>
		</div>
	</div>
</body>


</html>