<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Author" content="Jan Burdzicki">

	<title>Sustainable Garden</title>

	<link rel="icon" type="image/svg+xml" href="/static/img/favicon/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>

	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="container__item landing-page-container">
			<div class="content-wrapper">
				<header class="header">
					<h1 class="heading header__item">
						SUSTAINABLE GARDEN
					</h1>
				</header>

				<div class="ellipse-container">
					<h2 class="greeting">#sustainability</h2>

					<img class="my-img" src="/static/img/logo/LogoNoBackground.png">
					<!-- #4change, #nature, #sustainability, #co2, #carbon -->
					<div class="ellipse ellipse__outer--thin">
						<div class="ellipse ellipse__orbit"></div>
					</div>

					<div class="ellipse ellipse__outer--thick"></div>
				</div>

				<div class="login">
					<div class="login__item signin">
						<a href="#"><h1>Sign In</h1></a>
					</div>
					<div class="login__item signup">
						<a href="#"><h1>Sign Up</h1></a>
					</div>
				</div>

				<footer class="footer">
					<h1 class="footing footer__item">
						Collabothon 2023
					</h1>
					<h1 class="footing footer__item">
						✨🌟💖💎🦄💎💖🌟✨🌟💖💎🦄💎💖🌟✨
					</h1>
				</footer>
			</div>
		</div>
	</div>
</body>

</html>