<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Author" content="Jan Burdzicki">

	<title>Badges</title>

	<link rel="icon" type="image/svg+xml" href="/static/img/favicon/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>

	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Lato|Poppins|Raleway|Roboto|
	Source+Sans+Pro|Ubuntu:300,400,500,600,700,800,900&display=swap&subset=latin-ext" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="container__item landing-page-container">
			<div class="content-wrapper">
				<div class="wrapper">
					<nav class="navigation">
						<span id="brand">
							<a href="/">
								<img src="/static/img/logo/LogoNoBackground.png" width="70vmin" alt="">
								<p>SUSTAINABLE GARDEN</p>
							</a>
						</span>

						<ul id="menu">
							<li><a href="/profile/badges" class="cool-link">Badges</a></li>
							<li><a href="/profile/stats" class="cool-link">Offers</a></li>
							<li><a href="/profile/leaderboard" class="cool-link">Leaderboard</a></li>
							<li><a href="/profile" class="avatar"><i class="fas fa-user-circle"></i></a></li>
						</ul>
					</nav>
					<div class="badge-group">
						<h1 class="segment-description">
							Acquired
						</h1>
						<ul>
							<li class="oval-badge">
								<img src="/static/img/badges/bush_badge.png" height="80" width ="80" alt="" class="left-aligned">
								<h2 class="badge-name">
									Tree badge
								</h2>
								<h3 class="badge-description">
									(Plant first tree)
								</h3>

							</li>
							<li class="oval-badge">
								<img src="/static/img/badges/water_badge.png" height="80" width ="80" alt="" class="left-aligned">
								<h2 class="badge-name">
									Water badge
								</h2>
								<h3 class="badge-description">
									(Water your plants for 100 days)
								</h3>
							</li>
						</ul>
					</div>
					<div class="badge-group bottom-group">
						<h1 class="list-description">
							Still to explore
						</h1>
						<ul>
							<li class="oval-badge">
								<img src="/static/img/badges/fruit_tree_badge.png" height="80" width ="80" alt="" class="left-aligned">
								<h2 class="badge-name">
									Fruit badge
								</h2>
								<h3 class="badge-description">
									(Plant 100 fruit plants)
								</h3>
							</li>
							<li class="oval-badge">
								<img src="/static/img/badges/rhododendron_badge.png" height="80" width ="80" alt="" class="left-aligned">
								<h2 class="badge-name">
									Rhododendron badge
								</h2>
								<h3 class="badge-description">
									(Absorb 1kg of CO2 with your garden)
								</h3>
							</li>
							<li class="oval-badge">
								<img src="/static/img/badges/forest_badge_1.png" height="80" width ="80" alt="" class="left-aligned">
								<h2 class="badge-name">
									Forest badge
								</h2>
								<h3 class="badge-description">
									(Plant 10 trees)
								</h3>
							</li>
						</ul>
					</div>
				</div>
				<footer class="footer">
					<h1 class="footing footer__item">
						Collabothon 2023
					</h1>
					<h1 class="footing footer__item">
						✨🌟💖💎🦄💎💖🌟✨🌟💖💎🦄💎💖🌟✨
					</h1>
				</footer>
			</div>
		</div>
	</div>
</body>

</html>