<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Author" content="Jan Burdzicki">

    <title>Profile</title>

    <link rel="icon" type="image/svg+xml" href="/static/img/favicon/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins|Raleway|Roboto|
	Source+Sans+Pro|Ubuntu:300,400,500,600,700,800,900&display=swap&subset=latin-ext" rel="stylesheet">

    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- Plugin  -->
    <script src="/static/js/jquery.reflection.js"></script>
    <script src="/static/js/jquery.cloud9carousel.js"></script>

    <script src="/static/js/carousel.js" type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <div class="container__item landing-page-container">
            <div class="content-wrapper">

                <div class="wrapper">
                    <nav class="navigation">
                        <span id="brand">
                            <a href="index.html">
                                <img src="/static/img/logo/LogoNoBackground.png" width="70vmin" alt="">
                                <p>SUSTAINABLE GARDEN</p>
                            </a>
                        </span>

                        <ul id="menu">
                            <li><a href="/profile/badges" class="cool-link">Badges</a></li>
                            <li><a href="/profile/stats" class="cool-link">Statistics</a></li>
                            <li><a href="/profile/leaderboard" class="cool-link">Leaderboard</a></li>
                            <li><a href="/profile" class="cool-link">Awa</a></li>
                        </ul>
                    </nav>

                    <div id="wrap">
                        <div id="showcase">
                            {% for badge in badges %}
                                <img src="{{ badge.path }}" alt="" class="cloud9-item">

                            {% endfor %}

                        </div>

                        <div class="navig noselect">
                            <button class="left"><i class="fas fa-angle-left"></i></button>
                            <button class="right"><i class="fas fa-angle-right"></i></button>
                        </div>
                    </div>
                </div>

                <footer class="footer">
                    <h1 class="footing footer__item">
                        Collabathon 2023
                    </h1>
                    <h1 class="footing footer__item">
                        ✨🌟💖💎🦄💎💖🌟✨🌟💖💎🦄💎💖🌟✨
                    </h1>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>
